footer {
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

footer main {
    display: flex;
    justify-content: center;
    width: 70%;
}

footer main nav {
    width: 25%;
    margin: 5px;
    color: var(--extradark);
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer main nav h1 {
    font-family: "Nunito";
}

footer main nav ul {
   list-style: none;
   margin-top: .5rem;
}

footer main nav ul li {
    font-family: "Nunito";
}

footer main nav ul li a {
    text-decoration: none;
    color: var(--dark);
}


@media screen and (max-width: 600px) {
    footer main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer main nav {
        width: 80%;
        padding: .7rem;
    }

    footer main nav ul {
        margin-top: 10px;
    }
}
