<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration - Hill</title>
</head>
<body>
    <h1>Create Administrator</h1> 

    <form method="POST" action="/admin/create">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="passwordConfirm" placeholder="Confirm the password" />
        <button type="submit">Create admin</button>
    </form>

</body>
</html>
