.about {
    display: grid;
    height: 70vh;
    padding: 5%;
    grid-template-rows: 1fr 4fr;
}

.about h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #788;
}

.about p {
    font-family: "Nunito", sans-serif;
    font-size: 1.5em;
    margin: 2%;
    text-align: justify;
}

@media screen and (max-width: 800px) {
    
    .about h1 {
        font-size: 1.7em;
    }

    .about p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    
    .about h1 {
        font-size: 1.4em;
    }

    .about p {
        font-size: 1em;
    }
}
