.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.navbar hgroup {
    padding: 5%;
}

.navbar hgroup a {
    text-decoration: none;
    color: initial;
}

.navbar hgroup h1 {
    font-family: 'Laila', sans-serif;
}

.navbar hgroup h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navbar_links {
    padding: 4%;
}

.navbar_links i {
    display: none;
}

.navbar_links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar_links ul li a {
    font-size: 1.3em;
    font-family: 'Nunito', sans-serif;
    padding: 0 1.2em 0.2em 1.2em;
    text-decoration: none;
    color: #141d23;
}

.navbar_links ul li a:hover {
    color: #202420;
    border-bottom: 2px solid black;
}

.navbar_search-form {
    padding: 6%;
}

.navbar_search-form form {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1%;
    width: 70%;

    border: 1px solid #617082;
    border-radius: .5rem;
}

.navbar_search-form input, button {
    padding: 2%;
}

.navbar_search-form input:focus {
    outline: none;
}

.navbar_search-form input {
    border: none;
    background: transparent;
}

.navbar_search-form button {
    display: flex;
    justify-content: flex-end;
    border: none;
    background: transparent;
    padding: .3em;
}

.navbar_search-form button:hover {
    cursor: pointer;
}

.navbar_search-form .results {
    padding: 2%;
    margin: 1%;
    max-width: 70%;
    border-radius: 2px;
}

.navbar_search-form .results article {
    border-bottom: .1em solid #dddd;
    padding: 2%;
}

.navbar_search-form .results article a {
    text-decoration: none;
    color: inherit;
}

.navbar_search-form .results article a h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

.navbar_search-form .results article a span {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    color: #24c075;
}

.navbar_search-form .results article:hover {
    opacity: .8;
}

@media screen and (max-width: 1200px) {
    hgroup a h1 { font-size: 1.5em; }
    hgroup a h2 { font-size: 1.2em; }

    .navbar_links ul li {
        font-size: 0.9em;
    }

   .navbar_search-form .results {
        padding: 1%;
        margin: 0.5%;
        max-width: 70%;
    }

   .navbar_search-form .results article a h1 {
        font-size: .9em;
    }

   .navbar_search-form .results article a span {
        font-size: .8em; 
   }
}

@media screen and (max-width: 800px) {
    hgroup a h1 { font-size: 1em; }
    hgroup a h2 { font-size: 1em; }

    .navbar_links {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .navbar_links i {
        display: flex;
        justify-content: center;
    }
   
    .navbar_links i:hover {
        cursor: pointer;
    }

    .navbar_links ul {
        display: none;
        flex-direction: column;
    }

    .navbar_links ul li {
        font-size: 0.9em;
    } 
    
    .navbar_links ul li a:hover {
        border: none;
    }
}

@media screen and (max-width: 450px) {

    .navbar {
        display: flex;
        width: 100%;
    }

    hgroup {
        width: 50%;
    }

    .navbar_links ul li {
        font-size: 0.8em;
        margin: .2em;
    }

    .navbar_links ul, .navbar_links ul li {
        padding: 0;
    }
}

