.services {
    display: grid;
    padding: 5%;

    grid-template-rows: 15% 25% 40%;
    height: 90vh;
}

.services h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #788;
}

.services section {
    width: 80%;
}

.services section h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #222;
}

.services section p {
    margin-top: 2%;
    font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 600px) { 

    .services {
        display: grid;
        padding: 3%;

        grid-template-rows: 9% 35% 70%;
        height: 70vh;
    }

    .services section {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {

    .services {
        display: grid;

        grid-template-rows: 9% 40% 70%;
        height: 90vh;
    }
}










}
